<h1 id="main-title">Poll It Together</h1><hr>

{{{messages}}}
{{msg}}

<h2>Generate a new poll:</h2>

<form role="form" action="/" method="post" id="poll-form">
  Poll name: <input type="text" name="pollName" class="pollName" placeholder="Enter a name"><br>
  Poll description/question:<br>
  <textarea rows="4" cols="50" name="pollDescription" class="pollDescription" form="poll-form" placeholder="Enter description here..."></textarea><br><br>

  <button type="button" class="add-new-button" name="add-new-button">Add new option</button><br><br>

  <div class="question-list">
    Option 1:<br>
    <input data-id="1" type="text" name="questions[question1]" class="question" id="question1" placeholder="Enter a question"><br><br>
  </div>

  Select time to auto-close (manual close if left unchanged):
  <div class="container">
    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker'>
            <input type='text' name="pollEnd" class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  Show results on poll page?<br>
  <div class="show-results">
    <input type="radio" name="showPollResults" value="Yes">Yes<br>
    <input type="radio" name="showPollResults" value="No">No<br>
  </div>

  <input class="poll-submit" type="submit" value="Submit">
</form>

<script src="index.js"></script>
