<h1 id="poll-view-name">{{poll.name }}</h1>

<div id="poll-end">
  Poll closes: <div id="time-end"> {{poll.time_end }} </div>
</div>

<div id="poll-view-page">
  <h3 id="time-remaining">Time remaining:</h3>
  <div id="poll-view-time-clock"></div>

  <h3>Description:</h3>
  <p id="poll-view-description">{{poll.description }}</p><hr>

  Name to send with response (optional): <input type="text" name="pollee-name" id="pollee-name" placeholder="Enter name...">

  <h3>Questions:</h3>
  {{#each poll.questions}}
    <p>{{this}}&nbsp&nbsp<button class="poll-vote" type="button" name="poll-vote">Vote</button></p>
  {{/each}}
</div>

<script type="text/javascript" src="/pollView.js"></script>
