<h1>Poll "{{poll.name }}" created!</h1>

<p>Send the first link below to your desired pollees. Use the second link to access the poll admin view.</p>

<ul>
  <li> Poll Link: <a id="poll-url">{{poll.show_poll_url }}</a> </li>
  <li> Admin View: <a id="admin-url">{{poll.admin_url }}</a> </li>
</ul>

<script type="text/javascript" src="/links.js"></script>
